<!DOCTYPE html>
<html>
    <head>
        
        <title> Home page </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        {% load static %}
        <script src="https://kit.fontawesome.com/47105634f8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/js/bootstrap.min.js' %}">
        <link href="{% static 'assets/css/theme/collapse/theme_style.css' %}" rel="stylesheet" id="rt_style_components"
            type="text/css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
            
        <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
        </head>


<body style="background: rgba(0,0,0,0.9);">


            <div class="container-fluid">
                <div class="row" style="width: 98%; margin: auto; height: 150px; padding-left: 0px; padding-right: 0px;">
                    <div class="col-sm" style=" padding: 10px;">
                        <nav class="navbar navbar-expand-lg navbar-light " style="margin-top: 30px;">
   
   <a class="navbar-brand" href="{% url 'summary_vacancy:s_profile' %}">
       <img src="{% static 'bootstrap/images/logo_white.jpg' %}" style="border-radius: 50%; width: 50px;">
   </a>
   
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
<li class="nav-item active">

        {% if request.user.is_authenticated %}
         {% for p in b %}

<a class="nav-link" href="{% url 'summary_vacancy:meine_biografiess' %}" style="color: white;">мои вакансии <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Помощь <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <a href="#">
          <h4 style="margin-right: 30px;">
          <i class="far fa-star" style="font-size: 20px; color: white; font-size: 30px;"></i>
          </h4>
      </a>
      <a href="#">
          <h4 style="margin-right: 30px;">
          <i class="far fa-bell" style="font-size: 20px; color: white; font-size: 30px;"></i>
          </h4>
      </a>
      <!-- ****** -->
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
          data-close-others="true">
          <i class="far fa-user-circle" style="font-size: 20px; color: white; font-size: 30px;"></i>
      </a>
      
      <ul class="dropdown-menu  dropdown-menu-default">
          <li>
              <a href="{% url 'summary_vacancy:user_profile' %}">
              <i class="fas fa-user-circle"></i> {{p.name_company}} ({{p.user.last_name}} {{p.user.first_name}}) №{{p.user.id}} </a>
          </li>
          <li>
              <a href="{% url 'summary_vacancy:s_details' %}">
                  <i class="fas fa-cog"></i> Настройка
              </a>
          </li>
          <li>
              <a href="{% url 'summary_vacancy:book_editt' user.id %}">
                  <i class="fas fa-image"></i></i> изображения
              </a>
          </li>
          <li class="divider"> </li>
          <li>
              <a href="{% url 'logout' %}">
              <i class="fas fa-sign-out-alt"></i> Выход </a>
          </li>
      </ul>
      
                                    {% endfor %}
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- ***************** -->
                <!-- /11111111111111111111111111 -->
    <div class="container-fluid" style=" background: white; background: rgb(245, 241, 240); height: 120px;">
                    <div class="row">
                        <div class="col-sm" style=" margin-top: 40px;">
                            <div style="width: 85%; margin: auto;">
                               
                                <button type="button" class="btn btn-primary">Как заполнить правила для создать вакансию</button>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /11111111111111111111111111 -->
                <div class="container-fluid" style="background: white; height: auto;">
                    <div class="row" style="height: auto;">
    <div class="col-sm" style="">
        <div class="row">
            <div class="col-sm">
                <h3 style="margin: auto; width: 85%; margin-top: 30px;">Cоздать резюме через заполнить полью  <hr>
                </h3>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-10" style="margin: auto;">
                
             




                <!-- ****************** -->
 <form method="POST"  enctype="multipart/form-data">{% csrf_token %}

                     <div class="form-group row" style="margin-top: 30px;">
        <label for="inputEmail3" class="col-sm-3 col-form-label"><h4 style="font-weight: bold;">Основная информация</h4></label>
    </div>


       <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Узер</label>
      <div class="col-sm-6">
     {{form.user}}
        </div>
    </div>

     <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Название вакансии</label>
        <div class="col-sm-6">
           {{form.name_vac}}
        </div>
    </div>
    <div class="form-group row" style="margin-top: 20px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Код вакансии</label>
        <div class="col-sm-6">
            {{form.sifr}}
        </div>
    </div>







<!-- Указать профобласти ////// -->
    <div class="form-group row" style="margin-top: 40px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Специализация</label>
        <div class="col-sm-4">
          
           <a id="myBtn" style="color: rgb(45, 91, 156);">
            Указать профобласти             
                </a>      
        </div>
    </div>



<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <a class="" data-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample">Автомобильный бизнес</a>

    <div class="collapse" id="collapseExample">
  <div class="">
  
      {% for radio in form.professionsss %}
         <div class="custom-control custom-radio">
          {{ radio.tag }}
          <label class="" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}    
      
  </div>
</div>

  </div>
</div>

<style>
body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>


    <script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<!--///////// Указать профобласти -->



    <div class="form-group row" style="margin-top: 40px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Описание</label>
        <div class="col-sm-6">
            {{form.media}}
            {{form.opisaniya}}
        </div>
    </div>
    <!-- ****************************** -->


    <div class="form-group row" style="margin-top: 30px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Ключевые навыки</label>
        <div class="col-sm-3">
           {{form.kluchniy_naviki}}
        </div>
    </div>


    <div class="form-group row" style="margin-top: 30px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Предполагаемый уровень доходов в месяц или за обмен работ</label>
         <div class="col-sm-3">
           {{form.doxodot}}
        </div>
         <div class="col-sm-3">
           {{form.doxoddo}}
        </div>
         <div class="col-sm-2">
           {{form.salaryy}}
        </div>
    </div>




    <div class="form-group row" style="margin-top: 40px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            {% for radio in form.nalog %}
         <div class="custom-control custom-radio">
          {{ radio.tag }}
          <label class="" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}
        
        </div>
    </div>


<div class="form-group row" style="margin-top: 40px;">
<label for="inputEmail3" class="col-sm-3 col-form-label"><h4 style="font-weight: bold;">Место работы</h4></label>
    </div>



<div class="form-group row" style="margin-top: 30px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Вакансия в городе</label>
        <div class="col-sm-8">
          {{form.maestarabota}}
        </div>
    </div>






<div class="form-group row" style="margin-top: 40px;">
<label for="inputEmail3" class="col-sm-3 col-form-label"><h4 style="font-weight: bold;">Дополнительно</h4></label>
    </div>

        




<div class="form-group row" style="margin-top: 30px;">
  <label for="inputPassword3" class="col-sm-2 col-form-label">Тип занятости</label>
   <div class="col-sm-4">
      
    <div style="width: 87%; margin:auto;">
      {{form.vozmojno}} Возможно временное оформление
      </div>
      
     {% for radio in form.tipza %}
         <div class="custom-control custom-radio">
          {{ radio.tag }}
          <label class="" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}
        </div>
    </div>


<div class="form-group row" style="margin-top: 30px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Режим работы</label>
        <div class="col-sm-5">
          <ul style="list-style: none; margin-left: 100px; width: 90%;padding-left: 0px;margin: auto;">
            <li>{{form.rejimraboti1}}  Работа только по сб и вс</li>
            <li style="margin-top: 5px;">{{form.rejimraboti2}}  Можно работать сменами по 4–6 часов в день </li>
            <li style="margin-top: 5px;"> {{form.rejimraboti3}} Можно начинать работать после 16:00</li>
          </ul>
     
  
  
        </div>
    </div>



<div class="form-group row" style="margin-top: 30px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Опыт работы</label>
        <div class="col-sm-4">
         {% for radio in form.optrabota %}
         <div class="custom-control custom-radio">
          {{ radio.tag }}
          <label class="" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}
        </div>
    </div>


<div class="form-group row" style="margin-top: 30px;">
        <label for="inputPassword3" class="col-sm-2 col-form-label">График работы</label>
        <div class="col-sm-4">
         {% for radio in form.grafik_rab %}
         <div class="custom-control custom-radio">
          {{ radio.tag }}
          <label class="" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
          </div>
          {% endfor %}
        </div>
    </div>

       <div class="form-group row" style="margin-top: 40px;">
           <div class="col-sm-10">
               <button type="submit" class="btn btn-primary">Сохранить и опубликовать</button>
           </div>
       </div>
   </form>
   <!-- ****************** -->
    </div>
    </div>
    <!-- **** -->
    </div>
    </div>
    </div>
<!-- ****************** -->
 <!-- ********************* footer ********************************-->
                <footer>
                    <style type="text/css">
                    .col{
                    color: #CCCCCC;
                    }
                    </style>
                    <div class="container-fluid">
                        
                        <div class="row" style="background: #212122; height: auto;">
                            <div class="col-sm" style="padding: 20px; margin-left: 60px; color: white;">
           <p class="col">
               <img style="width: 100px;" src="{% static 'assets/img/Логотип_СКФУ.png' %}">
           </p>
           <p class="col">Мы помогаем студентам "СКФУ" найти работу</p>
           <p class="col">Все наши усилия направлены на то, чтобы студенты находили свой путь быстрее</p>
           
           
       </div>
       <div class="col-sm" style="padding: 20px; margin-left: 60px; color: white;">
           <p class="col" style="color: white; font-weight: bold;">Контакты</p>
           <p class="col">Реклама на сайте</p>
           <p class="col">Требования к ПО</p>
           <p class="col">Защита персональных данных</p>
           
       </div>
       <div class="col-sm" style="padding: 20px; margin-left: 60px; color: white;">
           <p class="col" style="color: white; font-weight: bold;">Контакты</p>
           <p class="col">Готовое резюме</p>
           <p class="col">Продвижение резюме</p>
           <p class="col">Профориентация</p>
           
           
       </div>
       <div class="col-sm" style="padding: 20px; margin-left: 60px; color: white;">
           <p class="col" style="color: white; font-weight: bold;">Контакты</p>
           <p class="col">Поиск сотрудников</p>
           <p class="col">Помощь</p>
           
           <p class="col">Switch to English</p>
           
           
       </div>
       
                            
      </div>
  </div>
  <style type="text/css">
  .sil li{
  display: inline-block;
  color: white;
  margin-left: 10px;
  }
  .sill li{
  display: inline-block;
  color: white;
  margin-top: -15px;
  margin-left: 10px;
  }
  </style>
  <div class="container-fluid" style="background: #212122;">
      <div class="row">
          <div class="col-md-3">
              <ul class="sil">
                  <li style="margin-left: 38px;">
                      <a href="#" >
    <h4 style="border: 1px solid rgb(197, 201, 198); border-radius: 50px; width: 40px; height: 40px;">
    <i class="fab fa-vk" style="font-size: 20px; color: rgb(197, 201, 198); margin-top: 11px; margin-left: 7px;"></i>
    </h4>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <h4 style=" border: 1px solid rgb(197, 201, 198); border-radius: 50px; width: 40px; height: 40px; ">
                      <i class="fab fa-facebook-f" style="font-size: 20px; color: rgb(197, 201, 198); margin-top: 11px; margin-left: 6px;"></i>
                      </h4>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <h4 style="border: 1px solid rgb(197, 201, 198); border-radius: 50px; width: 40px; height: 40px;">
                      <i class="fab fa-odnoklassniki" style="font-size: 20px; color: rgb(197, 201, 198); margin-top: 11px; margin-left: 6px;"></i>
                      </h4>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <h4 style="border: 1px solid rgb(197, 201, 198); border-radius: 50px; width: 40px; height: 40px;">
                      <i class="fab fa-twitter" style="font-size: 20px; color: rgb(197, 201, 198); margin-top: 11px; margin-left: 7px;"></i>
                      </h4>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <h4 style="border: 1px solid rgb(197, 201, 198); border-radius: 50px; width: 40px; height: 40px;">
                      <i class="fab fa-instagram" style="font-size: 20px; color: rgb(197, 201, 198); margin-top: 11px; margin-left: 7px;"></i>
                      </h4>
                  </a>
              </li>
          </ul>
          
          
      </div>
      <div class="col-sm">
          <ul class="sill">
              <li style="margin-left: 39px;">
                  <a href="#">
                      <h4>
                      <img style="width: 130px; margin-top: 5px;" src="{% static 'assets/img/Download-on-the-App-Store-button.png' %}">
                      </h4>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <h4>
                      <img style="width: 168px; margin-top: 5px;" src="{% static 'assets/img/google-play-badge-ru.png' %}">
                      </h4>
                  </a>
              </li>
          </ul>
          
          
      </div>
                        </div>
                    </div>
                </footer>
                <!-- ********************************************************/footer -->
                <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>                
                    </body>
                </html>